[
  {
    "order" : 0,
    "url" : "\/Clipboard.clipboard",
    "modifierFlags" : 1179648,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "enabled" : true,
    "keyCode" : 49
  },
  {
    "modifierFlags" : 1048840,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAC99BMm0vtcXnVJ8sL7rpt9Mp53FvWSmVucglxtB8NAgVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGDsCQAAAAAACAAAAAQDAACP5AMAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCLmvZAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABNYWNpbnRvc2hIRAAIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAANUE0NDY3MjEtMjMxQS00OUIyLTgxMzQtRDgxNDhGNjA5RDUwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : true,
    "order" : 1,
    "url" : "\/Applications\/Google Chrome.app",
    "openSelectedFiles" : true,
    "keyCode" : 15,
    "enabled" : true
  },
  {
    "url" : "\/System\/Applications\/Calculator.app",
    "order" : 2,
    "keyCode" : 0,
    "hideIfActive" : true,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9va0gCAAAAAAQQMAAAAIo04Q+pb3e1ZfIluFfap7D56Wc9kRr3P+mnZZWxYwDlaAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucw4AAAABAQAAQ2FsY3VsYXRvci5hcHAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAVAAAA\/\/\/\/DwgAAAAEAwAAFwAAAP\/\/\/w8IAAAABAMAAGQjAAD\/\/\/8PDAAAAAEGAABgAAAAcAAAAIAAAAAIAAAAAAQAAEHB3kSAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABNYWNpbnRvc2hIRAAIAAAABAMAAACgIGh0AAAAJAAAAAEBAAA1QTQ0NjcyMS0yMzFBLTQ5QjItODEzNC1EODE0OEY2MDlENTAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAATAAAAAAAAAAFEAAAkAAAAAAAAAAQEAAAtAAAAAAAAABAEAAApAAAAAAAAAACIAAAVAEAAAAAAAAFIAAA1AAAAAAAAAAQIAAA5AAAAAAAAAARIAAACAEAAAAAAAASIAAA+AAAAAAAAAATIAAApAAAAAAAAAAgIAAANAEAAAAAAAAwIAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "modifierFlags" : 524576,
    "enabled" : true,
    "openSelectedFiles" : true
  },
  {
    "keyCode" : 11,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAG7iZgq\/lSTbYmCabqjYOftYFmLpa3b2PY8cwiTUyCkfVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABCZXlvbmQgQ29tcGFyZS5hcHAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGDsCQAAAAAACAAAAAQDAAC4xQQAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHBXMBsAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABNYWNpbnRvc2hIRAAIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAANUE0NDY3MjEtMjMxQS00OUIyLTgxMzQtRDgxNDhGNjA5RDUwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Beyond Compare.app",
    "modifierFlags" : 524576,
    "order" : 3,
    "enabled" : true,
    "openSelectedFiles" : true,
    "hideIfActive" : true
  },
  {
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/IntelliJ IDEA CE.app",
    "modifierFlags" : 524576,
    "enabled" : true,
    "keyCode" : 38,
    "order" : 4,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAAbtEGXr6Ytoe8mkzwdDEECqnfPHfEXC+m3yN+xN2HMnVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFAAAAAEBAABJbnRlbGxpSiBJREVBIENFLmFwcAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGDsCQAAAAAACAAAAAQDAABCLwUAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCHxEoAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABNYWNpbnRvc2hIRAAIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAANUE0NDY3MjEtMjMxQS00OUIyLTgxMzQtRDgxNDhGNjA5RDUwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : true
  },
  {
    "hideIfActive" : true,
    "enabled" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAALhs7pnxnHprLD+u6l0s33IV4HdNhdbfu0U\/2ZjI4yizTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABEaW5nVGFsay5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABg7AkAAAAAAAgAAAAEAwAAn+8PAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwsWfdIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAATWFjaW50b3NoSEQACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADVBNDQ2NzIxLTIzMUEtNDlCMi04MTM0LUQ4MTQ4RjYwOUQ1MBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 34,
    "modifierFlags" : 524576,
    "url" : "\/Applications\/DingTalk.app",
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "order" : 5
  },
  {
    "enabled" : true,
    "keyCode" : 19,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 524576,
    "order" : 6,
    "url" : "\/System\/Applications\/Utilities\/Activity Monitor.app",
    "bookmark" : "Ym9va3gCAAAAAAQQMAAAADZyhTLpIb8b35zPkYfTU\/gXjb4+JfYnQ4X02h+Wq5mFmAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAAFAAAAAEBAABBY3Rpdml0eSBNb25pdG9yLmFwcBAAAAABBgAAEAAAACAAAAA0AAAASAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAADVPgEA\/\/\/\/DwgAAAAEAwAA1z4BAP\/\/\/w8QAAAAAQYAAHwAAACMAAAAnAAAAKwAAAAIAAAAAAQAAEHB3kSAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABNYWNpbnRvc2hIRAAIAAAABAMAAACgIGh0AAAAJAAAAAEBAAA1QTQ0NjcyMS0yMzFBLTQ5QjItODEzNC1EODE0OEY2MDlENTAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAACIAAAhAEAAAAAAAAFIAAABAEAAAAAAAAQIAAAFAEAAAAAAAARIAAAOAEAAAAAAAASIAAAKAEAAAAAAAATIAAA1AAAAAAAAAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "hideIfActive" : true
  },
  {
    "keyCode" : 2,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAALjIjDP1gOzs5kxVU7IyUjWoQOSxmgOwd5ZVhC\/aOpg0WAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABNaWNyb3NvZnQgT25lTm90ZS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABg7AkAAAAAAAgAAAAEAwAANegLAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBwnCT+AAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAATWFjaW50b3NoSEQACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADVBNDQ2NzIxLTIzMUEtNDlCMi04MTM0LUQ4MTQ4RjYwOUQ1MBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "modifierFlags" : 1048840,
    "openSelectedFolders" : true,
    "order" : 7,
    "enabled" : true,
    "url" : "\/Applications\/Microsoft OneNote.app",
    "hideIfActive" : true
  },
  {
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAH1r21pS6HhIvJjM92B2TCz23VPNLSd41Yyc4FYMY07tWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABg7AkAAAAAAAgAAAAEAwAA3mITAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBwrxFvgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAATWFjaW50b3NoSEQACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADVBNDQ2NzIxLTIzMUEtNDlCMi04MTM0LUQ4MTQ4RjYwOUQ1MBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "hideIfActive" : true,
    "keyCode" : 1,
    "order" : 8,
    "url" : "\/Applications\/Visual Studio Code.app",
    "modifierFlags" : 524576,
    "enabled" : true,
    "openSelectedFolders" : true
  },
  {
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAANNKCVMiHtsaXCWOdJiHpykdvCaqIaghmCaQaas2V9yTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABBbGlMYW5nLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABg7AkAAAAAAAgAAAAEAwAASQELAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwrhVnYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAATWFjaW50b3NoSEQACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADVBNDQ2NzIxLTIzMUEtNDlCMi04MTM0LUQ4MTQ4RjYwOUQ1MBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "url" : "\/Applications\/AliLang.app",
    "enabled" : true,
    "modifierFlags" : 524576,
    "openSelectedFolders" : true,
    "order" : 9,
    "hideIfActive" : false,
    "keyCode" : 20
  },
  {
    "modifierFlags" : 524576,
    "order" : 10,
    "url" : "\/System\/Applications\/Notes.app",
    "enabled" : true,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAAEo7hhCn+J9WJFnLr5+lv\/XX4x7sTDgSesex2biO8heIZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAATm90ZXMuYXBwAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAS6cAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcHeRIAAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8LAAAAAQEAAE1hY2ludG9zaEhEAAgAAAAEAwAAAKAgaHQAAAAkAAAAAQEAADVBNDQ2NzIxLTIzMUEtNDlCMi04MTM0LUQ4MTQ4RjYwOUQ1MBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 45,
    "openSelectedFiles" : true,
    "hideIfActive" : true,
    "openSelectedFolders" : true
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : true,
    "keyCode" : 18,
    "url" : "\/System\/Library\/CoreServices\/Finder.app",
    "order" : 11,
    "modifierFlags" : 524576,
    "enabled" : true,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va2wCAAAAAAQQMAAAAPv9HqAzXU8Vp68yvYZLRco4rHl1lDSSCzC9dHikayjejAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5hcHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAAI3CAQD\/\/\/8PCAAAAAQDAADntgMA\/\/\/\/DwgAAAAEAwAA4S0EAP\/\/\/w8QAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHB3kSAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABNYWNpbnRvc2hIRAAIAAAABAMAAACgIGh0AAAAJAAAAAEBAAA1QTQ0NjcyMS0yMzFBLTQ5QjItODEzNC1EODE0OEY2MDlENTAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAWAAAAAAAAAAFEAAAsAAAAAAAAAAQEAAA2AAAAAAAAABAEAAAyAAAAAAAAAACIAAAeAEAAAAAAAAFIAAA+AAAAAAAAAAQIAAACAEAAAAAAAARIAAALAEAAAAAAAASIAAAHAEAAAAAAAATIAAAyAAAAAAAAAAgIAAAWAEAAAAAAAAwIAAAhAEAAAAAAAAQ0AAABAAAAAAAAAA="
  },
  {
    "hideIfActive" : true,
    "openSelectedFolders" : true,
    "keyCode" : 2,
    "order" : 12,
    "modifierFlags" : 524576,
    "url" : "\/Applications\/网易有道词典.app",
    "enabled" : true,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAKnMW05Mf8yhtoRqc+qURP71x47Gy\/bi8fnljAHlpgHCWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAADnvZHmmJPmnInpgZPor43lhbguYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABg7AkAAAAAAAgAAAAEAwAA5H8TAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBwq50MYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAATWFjaW50b3NoSEQACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADVBNDQ2NzIxLTIzMUEtNDlCMi04MTM0LUQ4MTQ4RjYwOUQ1MBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true
  },
  {
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAOjYmjtTun+bsNd3r1Py3mwFGWNMdF3OiC6EV41pZyZUTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABg7AkAAAAAAAgAAAAEAwAAydoTAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwr73HAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAATWFjaW50b3NoSEQACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADVBNDQ2NzIxLTIzMUEtNDlCMi04MTM0LUQ4MTQ4RjYwOUQ1MBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 13,
    "url" : "\/Applications\/iTerm.app",
    "keyCode" : 17,
    "hideIfActive" : true,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "enabled" : true,
    "modifierFlags" : 1048840
  },
  {
    "openSelectedFiles" : true,
    "url" : "\/Applications\/CLion.app",
    "openSelectedFolders" : true,
    "enabled" : true,
    "modifierFlags" : 1048840,
    "order" : 14,
    "hideIfActive" : false,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAErs\/Tn4EFnWRMzroBxcCylaS56At1HOkdi8VC2ZZLqGTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABDTGlvbi5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABg7AkAAAAAAAgAAAAEAwAA5QUFAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwh+bgQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAATWFjaW50b3NoSEQACAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADVBNDQ2NzIxLTIzMUEtNDlCMi04MTM0LUQ4MTQ4RjYwOUQ1MBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 14
  },
  {
    "url" : "\/Applications\/PyCharm CE.app",
    "hideIfActive" : true,
    "enabled" : true,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAPt8RUxWOr+7PXbah4Bmeko51moVTHODO5EuysWC\/DDeUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDgAAAAEBAABQeUNoYXJtIENFLmFwcAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAYOwJAAAAAAAIAAAABAMAACzlEwAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcLGYYUAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8LAAAAAQEAAE1hY2ludG9zaEhEAAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB3kSAAAAAJAAAAAEBAAA1QTQ0NjcyMS0yMzFBLTQ5QjItODEzNC1EODE0OEY2MDlENTAYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "order" : 15,
    "keyCode" : 35,
    "modifierFlags" : 524576,
    "openSelectedFolders" : true
  }
]